<script setup lang="ts">
import jp from '../assets/Flag_of_Japan.svg'
import th from '../assets/Flag_of_Thailand.png'
const displayJPY = ref('0');
const displayTHB = ref('0');
const currentInput = ref('');
const previousInput = ref('');
const operator = ref('');
const currentCurrency = ref('JPY');

// Define functions
const handleButtonClick = (value: string) => {
    if (value === 'C') {
        currentInput.value = '';
        previousInput.value = '';
        operator.value = '';
        displayJPY.value = '0';
        displayTHB.value = '0';
    } else if (value === '←') {
        currentInput.value = currentInput.value.slice(0, -1);
        updateDisplay();
    } else if (['÷', '×', '-', '+'].includes(value)) {
        operator.value = value;
        previousInput.value = currentInput.value;
        currentInput.value = '';
    } else if (value === '=') {
        if (currentInput.value && previousInput.value && operator.value) {
            currentInput.value = String(eval(`${previousInput.value.replace('÷', '/').replace('×', '*')}${operator.value.replace('÷', '/').replace('×', '*')}${currentInput.value}`));
            updateDisplay();
            previousInput.value = '';
            operator.value = '';
        }
    } else if (value === '⇅') {
        // Do nothing for the switch button here
    } else {
        currentInput.value += value;
        updateDisplay();
    }
};

const updateDisplay = () => {
    if (currentCurrency.value === 'JPY') {
        displayJPY.value = currentInput.value || '0';
        displayTHB.value = (parseFloat(currentInput.value) * 0.24).toFixed(2) || '0';
    } else {
        displayTHB.value = currentInput.value || '0';
        displayJPY.value = (parseFloat(currentInput.value) / 0.24).toFixed(2) || '0';
    }
};

const switchCurrency = () => {
    currentCurrency.value = currentCurrency.value === 'JPY' ? 'THB' : 'JPY';
    const tempDisplay = displayJPY.value;
    displayJPY.value = displayTHB.value;
    displayTHB.value = tempDisplay;
    currentInput.value = displayJPY.value;
};
</script>

<template>
   <div class="calculator">
    <div class="display-container">
        <img id="currency-flag-1" :src="jp" alt="JPY">
        <div class="display" id="display-jpy">{{ displayJPY }}</div>
        <div class="currency">JPY</div>
    </div>
    <div class="display-container">
        <img id="currency-flag-2" :src="th" alt="THB">
        <div class="display" id="display-thb">{{ displayTHB }}</div>
        <div class="currency">THB</div>
    </div>
    <div class="buttons">
        <button class="gray" @click="handleButtonClick('C')">C</button>
        <button class="gray" @click="handleButtonClick('←')">←</button>
        <button class="switch" @click="switchCurrency">⇅</button>
        <button class="orange" @click="handleButtonClick('÷')">÷</button>
        <button @click="handleButtonClick('7')">7</button>
        <button @click="handleButtonClick('8')">8</button>
        <button @click="handleButtonClick('9')">9</button>
        <button class="orange" @click="handleButtonClick('×')">×</button>
        <button @click="handleButtonClick('4')">4</button>
        <button @click="handleButtonClick('5')">5</button>
        <button @click="handleButtonClick('6')">6</button>
        <button class="orange" @click="handleButtonClick('-')">-</button>
        <button @click="handleButtonClick('1')">1</button>
        <button @click="handleButtonClick('2')">2</button>
        <button @click="handleButtonClick('3')">3</button>
        <button class="orange" @click="handleButtonClick('+')">+</button>
        <button class="zero" @click="handleButtonClick('0')">0</button>
        <button @click="handleButtonClick('.')">.</button>
        <button class="orange" @click="handleButtonClick('=')">=</button>
    </div>
</div>
</template>

<route lang="yaml">
meta:
  layout: home
</route>


<style>
* {
    touch-action: manipulation;
}

  body {
      /* display: flex; */
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #000;
      margin: 0;
      font-family: 'Arial', sans-serif;
  }
  .calculator {
      width: 100%;
      height: 100vh;
      background-color: #000;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      justify-content: flex-end;
  }
  .display-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      height: 15%;
  }
  .display-container img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
  }
  .display {
      background-color: #000;
      color: #fff;
      font-size: 2em;
      flex: 1;
      text-align: right;
  }
  .currency {
      color: #fff;
      font-size: 1em;
      margin-left: 10px;
  }
  .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      width: 100%;
      height: 60%;
  }
  button {
      background-color: #505050;
      color: #fff;
      font-size: 1.5em;
      border: none;
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      outline: none;
  }
  button.orange {
      background-color: #ff9500;
  }
  button.gray {
      background-color: #a5a5a5;
      color: #000;
  }
  button.zero {
      grid-column: span 2;
      width: calc(100%);
      border-radius: 10px;
  }
  button.switch {
      background-color: #28a745;
  }
</style>
